<div class="monthly__profits-container">
  <div class="profits__header">
    <h1 class="profits__title">Monthly Profits</h1>
    <p class="profits__subtitle">Total Profit Growth of 26%</p>
  </div>
  <div class="profits__piechart-container">
    <div class="profits__piechart">
      <img class="piechart" src="Images/pie-chart.svg" alt="" />
      <div class="piechart__numbers">
        <h3 class="piechart__title">Total</h3>
        <p class="piechart__price">$76,356</p>
      </div>
    </div>
    <div class="profits__details-container">
      <div class="profits__details">
        <p class="profits__details-name">Giveaway</p>
        <h3 class="profits__percent">60%</h3>
        <div class="progress">
          <div class="progress color--purple"></div>
        </div>
      </div>
      <div class="profits__details">
        <p class="profits__details-name">Affiliate</p>
        <h3 class="profits__percent">24%</h3>
        <div class="progress">
          <div class="progress color--green"></div>
        </div>
      </div>
      <div class="profits__details">
        <p class="profits__details-name">Offline Sales</p>
        <h3 class="profits__percent">16%</h3>
        <div class="progress">
          <div class="progress color--yellow"></div>
        </div>
      </div>
    </div>
  </div>
</div>
