<div class="orders__container">
  <div class="orders__header">
    <h1 class="orders__title">Last Orders</h1>
    <p class="orders__more">View All Orders</p>
  </div>
  <div class="orders__list">
    <div class="orders__icon-name">
      <img class="orders__icon" src="Images/Profile.svg" alt="" />
      <p class="orders__data">David Astee</p>
    </div>
    <p class="orders__data">$1,456</p>
    <p class="orders__data">11 Sep 2023</p>
  </div>
  <div class="orders__list">
    <div class="orders__icon-name">
      <img class="orders__icon" src="Images/Profile.svg" alt="" />
      <p class="orders__data">Maria Hulama</p>
    </div>
    <p class="orders__data">$42,437</p>
    <p class="orders__data">11 Sep 2023</p>
  </div>
  <div class="orders__list">
    <div class="orders__icon-name">
      <img class="orders__icon" src="Images/Profile.svg" alt="" />
      <p class="orders__data">Arnold Swarz</p>
    </div>
    <p class="orders__data">$3,500</p>
    <p class="orders__data">11 Sep 2023</p>
  </div>
</div>
