<div class="report__container">
  <div class="report report--balance">
    <div class="report__header">
      <div class="report__title">
        <img src="Images/Balance.svg" alt="" />
        <h3 class="report__name">Balance</h3>
      </div>
      <p class="report__percent">+ 17%</p>
    </div>
    <h1 class="report__price">$ 56,874</h1>
    <img class="report__chart" src="Images/Green-chart.svg" alt="" />
  </div>
  <div class="report report--sales">
    <div class="report__header">
      <div class="report__title">
        <img src="Images/Sales.svg" alt="" />
        <h3 class="report__name">Sales</h3>
      </div>
      <p class="report__percent">+ 23%</p>
    </div>
    <h1 class="report__price">$ 24,575</h1>
    <img class="report__chart" src="Images/Yellow-chart.svg" alt="" />
  </div>
  <div class="report report--upgrade">
    <h2 class="upgrade__title">Upgrade</h2>
    <p class="upgrade__subtitle">Get more information and opportunities</p>
    <button class="upgrade__btn">Go Pro</button>
  </div>
</div>
