<div class="initial-data">
  <span class="side-menu__logo"><img src="Images/Logo.svg" alt="" /></span>
  <div class="side-menu__face-div">
    <img class="side-menu__face" src="Images/human.jpg" alt="" />
  </div>
  <div class="side-menu__welcoming">
    <p class="welcome">Welcome Back</p>
    <h3 class="person__name">Mark Johnson</h3>
  </div>
</div>
<div class="all-items__container">
  <div class="items__primary">
    <div class="item__container item--active">
      <div class="option__selected"></div>
      <div class="option__data">
        <img class="active__icon" src="Images/Dashboard.svg" alt="" />
        <a href="#" class="option--text-active">Dashboard</a>
      </div>
    </div>
    <div class="item__container">
      <div class="option__data">
        <img class="nonactive__icon" src="Images/Statistics.svg" alt="" />
        <a href="#" class="option--text-nonactive">Statistics</a>
      </div>
    </div>
    <div class="item__container">
      <div class="option__data">
        <img class="nonactive__icon" src="Images/Payment.svg" alt="" />
        <a href="#" class="option--text-nonactive">Payment</a>
      </div>
    </div>
    <div class="item__container">
      <div class="option__data">
        <img class="nonactive__icon" src="Images/Transactions.svg" alt="" />
        <a href="#" class="option--text-nonactive">Transactions</a>
      </div>
    </div>
    <div class="item__container">
      <div class="option__data">
        <img class="nonactive__icon" src="Images/Products.svg" alt="" />
        <a href="#" class="option--text-nonactive">Products</a>
      </div>
    </div>
    <div class="item__container">
      <div class="option__data">
        <img class="nonactive__icon" src="Images/Customer.svg" alt="" />
        <a href="#" class="option--text-nonactive">Customer</a>
      </div>
    </div>
    <div class="item__container">
      <div class="option__data">
        <img class="nonactive__icon" src="Images/Messages.svg" alt="" />
        <a href="#" class="option--text-nonactive">Messages</a>
      </div>
    </div>
    <div class="item__container">
      <div class="option__data">
        <img class="nonactive__icon" src="Images/Settings.svg" alt="" />
        <a href="#" class="option--text-nonactive">Settings</a>
      </div>
    </div>
  </div>
  <div class="item__container">
    <div class="option__data">
      <img class="nonactive__icon" src="Images/Logout.svg" alt="" />
      <a href="#" class="option--text-nonactive">Logout</a>
    </div>
  </div>
</div>
