<div class="statistics__container">
  <div class="statistics__header">
    <h2 class="statistics__title">User in the last week</h2>
    <div class="statistics__subtitle">
      <h3 class="statistics__percent">+ 3.2%</h3>
      <p class="statistics__more">See statistics for all time</p>
    </div>
  </div>
  <div class="statistics__barchart-section">
    <ul class="statistics__vertical-numbers">
      <li>40 k</li>
      <li>30 k</li>
      <li>20 k</li>
      <li>10 k</li>
      <li>0 k</li>
    </ul>
    <div class="statistics__total-barchart">
      <div class="statistics__single-barchart">
        <img class="barchart" src="Images/barchart-four.svg" alt="" />
        <p class="day">Mon</p>
      </div>
      <div class="statistics__single-barchart">
        <img class="barchart" src="Images/barchart-two.svg" alt="" />
        <p class="day">Tue</p>
      </div>
      <div class="statistics__single-barchart">
        <img class="barchart" src="Images/barchart-three.svg" alt="" />
        <p class="day">Wed</p>
      </div>
      <div class="statistics__single-barchart">
        <img class="barchart" src="Images/barchart-four.svg" alt="" />
        <p class="day">Thu</p>
      </div>
      <div class="statistics__single-barchart">
        <img class="barchart" src="Images/barchart-five.svg" alt="" />
        <p class="day">Fri</p>
      </div>
      <div class="statistics__single-barchart">
        <img class="barchart" src="Images/barchart-six.svg" alt="" />
        <p class="day">Sat</p>
      </div>
      <div class="statistics__single-barchart">
        <img class="barchart" src="Images/barchart-seven.svg" alt="" />
        <p class="day">Sun</p>
      </div>
    </div>
  </div>
</div>
